<!DOCTYPE html>
<html>

  <head>
    <title> Rex App </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo">Rex's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {%block content%}
        {{script1 | safe}}
        {{div1 | safe}}
        {%endblock%}
    </div>
  </body>
</html>


<link rel="stylesheet" href={{cdn_css | safe}} type="text/css">
<script type="text/javascript" src={{cdn_js | safe}}></script>